[1;31m- [0;33mNo Trolling
[1;31m- [0;33mNo Constant Cursing
[1;31m- [0;33mNo Full Caps Messages
[1;31m- [0;33mNo Spamming
[1;31m- [0;33mNo Advertising
[1;31m- [0;33mDon't be rude
[1;31m- [0;33mRespect all Players
